@font-face {
  font-family: Volte;
  src: url(./fonts/Volte.ttf);
}

body {
  margin: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: #a4b1b8;
  font-family: Volte , sans-serif;
  justify-content: space-around;
  padding: 30px;
  gap: 10px;

  div {
    flex-basis: 300px;

    h2 {
      font-weight: bold;
      font-size: 28px;
      border-bottom: solid 2px #a4b1b8;
      display: inline-block;
    }

    p {
      font-size: 20px;
      color: white;
    }

    a {
      color: white;
      display: block;
      font-size: 20px;
      text-decoration: none;
      margin: 10px;
    }
  }

  div:first-child {
    text-align: center;
    padding: 0 30px;
  }
}